a {
    text-decoration: none;
}

body {
  padding-top: 115px;
  overflow-x: hidden;
}

header {
    overflow: hidden;
}

.normaltextsize {
  font-size: 11px; 
}

.searchbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(29, 29, 29, 0.6);
    border-radius: 12px;;

    p {
        font-weight: bold;
        margin: 10px;
        font-size: 15px;
    };

    form {
        border-radius: 10px;
        background-color: rgba(73, 44, 73, 0.6);
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        label {
            padding: 0;
            font-size: 15px;
            margin-bottom:10px;
        };
        input {
            margin: 0 20px 20px;
            width: 90%;
            border-radius: 3px;
            border: 0;
            font-size: 18px
        };
        button {
            margin: 0 20px 0 20px;
            color: white;
            background-color: rgb(69, 170, 228);
            font-weight: bold;
            border: 0;
            border-radius: 5px;
            width: 250px;
            font-size: 15px;
            padding: 4px;
        };
    };

    button {
        width: 150px;
        border: 0;
        background-color: rgb(245, 226, 197);
        border-radius: 2px;
        align-self: center;
        margin-bottom: 14px;
        font-size: 14px;
    };
}

.carousel-inner {
  height: 700px;
}

.searchpicture1 {
    background: url('/Resources/food.jpg');
    background-size: cover;
    background-position: center;
   
}

.searchpicture2 {
    background-image: url('/Resources/food2.jpg');
    background-size: cover;
    background-position: center;
}

.searchpicture3 {
    background-image: url('/Resources/food3.jpg');
    background-size: cover;
    background-position: center;
}

.Steps {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2 {
        font-size: 20px
    };

    ul {
        list-style: none;
        li {
            padding: 30px;
            text-align: center;
            img {
                width: 200px;
            };
            h3 {
                font-size: 17px;
            };
            p {
                font-size: 15px;
            };
        };
    };
}

.infobanner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 1fr 1fr;
    padding: 30px;
    justify-content: center;

    button {
        width: 250px;
        height: 50px;;
        border: 0;
        border-radius: 5px;
        background-color: aliceblue;
    };

    img {
        border-radius: 50%;
        grid-row-start: 1;
        width: 250px;
        height: 250px;
        justify-self: center;
        margin: 10px;
    };
}

.banner1 {
    background-color: rgb(80, 149, 170);
    button {
        color: rgb(80, 149, 170);
    };
}

.banner2 {
    background-color: rgb(173, 130, 74);
    button {
        color: rgb(173, 130, 74);
    };
}

.banner3 {
    background-color: rgb(119, 65, 98);
    button {
        color: rgb(119, 65, 98);
    };
}

.bottombar {
   list-style: none; 
   display: flex;
   flex-direction: column;
   text-align: center;
   padding: 0;
   margin: 0;
   li {
       a {
        color: white;
       };
   };
}

.menuimg {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
     img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid silver;  
        padding: 10px;
     };
}

.navmenu {
    border-bottom: 1px solid silver;
    padding: 5px 0 5px 0;
    justify-content: center;
    width: 100%;
}



.linkschild {
    border-bottom: 1px solid silver;
    margin: 10px 0 10px 0;
    h3 {
        color: white;
        font-size: 13px;
        margin: 0;
    };
    p {
        color: white;
    };
    form {
        input {
            font-size: 12px;
            border: 0;
            border-radius: 2px;
        };

        button {
            font-size: 12px;
            border: 0;
            border-radius: 5px;
        };
    };
}

.solcialicons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    img {
        margin:0 5px 0 5px;
        width: 16px;
        height: 16px;
    };
}

.rights {
    color: white;
    text-align: right;
}

#no {
    width: 20px;
}

#yes {
    width: 20px;
}

.filtercontainer {
    background-color: rgb(226, 235, 238);
    box-shadow: inset 0px 0px 5 px rgb(47, 90, 126);
    max-height: 900px;
}

.filtermain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.filterchild {
    
    margin: 0 10px 0 10px;
    max-height: 100px;
    
    p {
        margin: 0;
    };
    input {
        height: 20px;
        width: 100%;
    };
}

.filterbuttons {
    button {
      border: 0;
      border-radius: 5px;
      font-size: 14px;
    };
}

.searchpagebutton {
    background-color: rgb(65, 126, 177);
    color: white;
}

.searchpageclear {
    background-color: burlywood;
    color: white;
}

.resultboxchild {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    a {
        opacity: 0.95;
        color: white;
        background-image: url('/Resources/noimageprofile.jpg');
        background-color: rgba(0, 0, 0, 0.425);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow:inset 0px 0px 120px 120px rgba(0, 0, 0, 0.87), 0px 0px 10px black;
    };
}

@media only screen and (min-width: 768px) {
    body {
        padding-top: 75px;
    }
    .searchbox {
        form {
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: 1fr 1fr;
            
            label {
                grid-column: span 2;
            };

            input {
                margin: 0;
                width: 100%;
            };
            
            button {
                width: 100%;
                margin: 0;
            };
        };
    }

    .infobanner {
      display: grid;
      grid-template-columns: 70% 30%;
      grid-template-rows: 1fr 1fr 1fr;
      h3 {
        grid-column: 1;
        margin-top: 50px;
      };
        
      p {
        grid-column: 1;
      };

     button {
        grid-column: 1;
        width: 250px;
        height: 50px;;
        border: 0;
        border-radius: 5px;
        background-color: aliceblue;
      };

      img {
        border-radius: 50%;
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 4;
        width: 250px;
        height: 250px;
      };
    }

    .bottombar {
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        li {
            align-self: center;
        };
    }

    .navmenu {
        align-content: center;
    }

    .filtermain {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}